<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6364131172.js" crossorigin="anonymous"></script>

    <title>FoSc</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand " href="/index">Fo<small class="text-muted">od</small> S<small
                class="text-muted">hortage</small> C<small class="text-muted">ure</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/howitworks">How it works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contactus">Contact Us<span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="main_heading my-5 text-center display-4">
        Contact Us
        <hr class="w-25 mx-auto">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 offset-2 ">
                <div class="profile">
                    <img src="{{url_for('static', filename='IMG_20210627_115033.jpg')}}" width="250px" height="250px"
                        alt="Abinash">
                    <div class="name">Abinash Samal</div>
                    <div class="details">SIT,BBSR <br>
                        Contact No.:8249221266</div>
                    <div class="list">
                        <ul>
                            <li><a href=""><i class="fab fa-facebook"></i></li></a>
                            <li><a href="https://instagram.com/aryan_abinash?utm_medium=copy_link"><i
                                        class="fab fa-instagram"></i></li></a>
                            <li><a href="https://twitter.com/abinashsamal828?s=08"><i class="fab fa-twitter"></i></li>
                            </a>
                            <li><a href="https://www.linkedin.com/in/abinash-samal-9810a220b"><i class="fab fa-linkedin"></i></li></a>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-xl-3 offset-2 ">
                <div class="profile">
                    <img src="{{url_for('static', filename='IMG_20210627_114356.jpg')}}" width="250px" height="250px"
                        alt="Ashis">
                    <div class="name">Ashis Ray</div>
                    <div class="details">SIT,BBSR <br>
                        Contact No.:7978170199</div>
                    <div class="list">
                        <ul>
                            <li><a href=""><i class="fab fa-facebook"></i></li></a>
                            <li><a href="https://instagram.com/_ashisray_?utm_medium=copy_link"><i
                                        class="fab fa-instagram"></i></li></a>
                            <li><a href="https://mobile.twitter.com/AshisRa95981531"><i class="fab fa-twitter"></i></li></a>
                            <li><a href="https://www.linkedin.com/in/ashis-ray-b381811ba"><i class="fab fa-linkedin"></i></li></a>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer py-3 ">
        <div class="foot">
            <div class="footer-text"> Made with <i class="far fa-heart icon-heart"></i> by Ashis and Abinash</div>
            <div class="copyright"><i class="far fa-copyright"></i> THE 2A .pvt Ltd</div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>