<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6364131172.js" crossorigin="anonymous"></script>

    <title>FoSc</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand " href="/index">Fo<small class="text-muted">od</small> S<small
                class="text-muted">hortage</small> C<small class="text-muted">ure</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="/howitworks">How it works <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/contactus">Contact Us </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main_heading my-5 text-center ">
        How it works?
        <hr class="w-25 mx-auto">
    </div>
    <div>
        <h1><i class="far fa-question-circle"></i>How to know get details of each state ?</h1>
        <h3><i class="fas fa-angle-double-right"></i>Its simple, just click on the state of which you want to see data.
        </h3>
        <br><br>
        <h1><i class="far fa-question-circle"></i>What is I am a common man and does not know about the terms?</h1>
        <h3><i class="fas fa-angle-double-right"></i>No Worries ,here we will explain you about all the terms and
            components of the graphs:</h3>
        <br>
        <h3><i class="fas fa-angle-double-right"></i>Terms related to the site:</h3>
        <br>
        <h2><i class="fas fa-angle-double-right"></i>Food Consumption:</h2>
        <h3><i class="fas fa-angle-double-right"></i>Estimated amount of food consumed by the people of a state in
            millon metric tons.</h3>
        <br>
        <h2><i class="fas fa-angle-double-right"></i>Food production:</h2>
        <h3><i class="fas fa-angle-double-right"></i>Estimated amount of food produced in a state in
            millon metric tons.</h3>
        <br>
        <h2><i class="fas fa-angle-double-right"></i>Difference(diff):</h2>
        <h3><i class="fas fa-angle-double-right"></i>The predicted difference between consumption and production for the
            next month.</h3>
        <h3><i class="fas fa-angle-double-right"></i>If the difference is positive there might not be food shortage.
        </h3>
        <h3><i class="fas fa-angle-double-right"></i>If the difference is negetive there might be food shortage.</h3>
        <br>
        <h2><i class="fas fa-angle-double-right"></i>Mean Consumption:</h2>
        <h3><i class="fas fa-angle-double-right"></i>Avererage food consumption of a state.</h3>
        <br>
        <h2><i class="fas fa-angle-double-right"></i>Mean production:</h2>
        <h3><i class="fas fa-angle-double-right"></i>Avererage food production of a state.</h3>
        <br><br>
        <h2><i class="fas fa-angle-double-right"></i>Parts of table are:</h2>
        <br><br>
    </div>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{url_for('static', filename='1.png')}}" class="d-block w-100" alt="1.png">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='2.png')}}" class="d-block w-100" alt="2.png">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='3.png')}}" class="d-block w-100" alt="3.png">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <footer class="footer py-3 ">
        <div class="foot">
            <div class="footer-text"> Made with <i class="far fa-heart icon-heart"></i> by Ashis and Abinash</div>
            <div class="copyright"><i class="far fa-copyright"></i> THE 2A .pvt Ltd</div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>