<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{url_for('static', filename='loginstyles.css')}}">
</head>

<body>
    <div class="container">
        <div class="signupbox">
            <div class="name">FoSC</div>
            <div class="login">SIGN UP</div>
            <form method="POST">
                <label for="Username">Enter Username* <div class="mandatory"></div></label>
                <input name="NUsername" required aria-required="true" placeholder="Username" required="">
                <br>
                <label for="password">Enter password*<div class="mandatory"></div></label>
                <input name="NPassword" required aria-required="true" placeholder="password" type="password"
                    required="">
                <br>
                <label for="email">Your email address* <div class="mandatory"></div></label>
                <input id="email" name="Email" required aria-required="true" placeholder="Email" type="email"
                    required="">
                <button class="signupbutton" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</body>

</html>